{% extends 'MainBundle:Master:master.html.twig' %}
{% block content %}
    <div class="row">
        
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions1 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions2 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions3 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions4 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions5 }  %}
        
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions6 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions7 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions8 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions9 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions10 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions11 }  %}
        {% include "MainBundle:Partials:questions.html.twig" with { questions: questions12 }  %}
    </div>
{% endblock content%}